html, body{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.column{
    float: left;
    width: 25%;
}
.row.after {
    content: "";
    display: table;
    clear: both;
}
h1,h2,h3,h4{
    font-weight: bold;
    font-family: sans-serif;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and(max-width: 500px){
    .column{
        font-size: 16px;
    }
}
@media screen and(max-width: 800px){
      .footer{
          display: none;
      }
} 

@media screen and (max-width: 700px) {
    .column {
      width: 100%;
    }
  }
