html, body{
    margin: 0;
    padding: 0;
}
html{
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    color: indigo;
    font-weight: bold;
}

@media only screen and (min-width: 600px) {
    .potraitClock{
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .landscapeClock{
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    nav a{
        float: left;
        display: block;
        text-align: right;
        padding: 15px 18px;
    }
    
}